<% @meta_title = "#{@repository.full_name} commit stats | #{@host}" %>
<% @meta_description = "Commit stats for #{@repository.full_name} on #{@host} including total commits, committers, and development distribution score." %>

<div class="container-sm">
  <h1>
    <%= link_to @host, host_path(@host) %> /
      
    <%= link_to @repository.full_name, @repository.html_url, target: :_blank %> committers
  </h1>

  <% if @repository.description.present? %>
    <p><%= @repository.description %></p>
  <% end %>

  <% if @repository.last_synced_at %>
    <p class="card-subtitle mb-2 text-muted"><i><small>
        Last synced: <%= distance_of_time_in_words_to_now @repository.last_synced_at %> ago
    </small></i></p>
    <% if @repository.total_commits %>
      <div class='row mb-3'>
        <div class='col-md-6'>
            Total Commits: <%= number_with_delimiter @repository.total_commits %><br>
            Total Committers: <%= number_with_delimiter @repository.total_committers %><br>
            Total Bot Commits: <%= number_with_delimiter @repository.total_bot_commits %><br>
            Total Bot Committers: <%= number_with_delimiter @repository.total_bot_committers %><br>
            Avg Commits per committer: <%= @repository.mean_commits ? number_with_delimiter(@repository.mean_commits.round(3)) : 'N/A' %><br>
            Development Distribution Score (<a href='https://report.opensustain.tech/chapters/development-distribution-score.html' target="_blank">DDS</a>): <%= @repository.dds ? @repository.dds.round(3) : 'N/A' %>
        </div>
        <% if @repository.past_year_committers %>
          <div class='col-md-6'>
            Commits in the past year: <%= number_with_delimiter @repository.past_year_total_commits %><br>
            Committers in the past year: <%= number_with_delimiter @repository.past_year_total_committers %><br>
            Bot Commits in the past year: <%= number_with_delimiter @repository.past_year_total_bot_commits %><br>
            Bot Committers in the past year: <%= number_with_delimiter @repository.past_year_total_bot_committers %><br>
            Avg Commits per committer in the past year: <%= @repository.past_year_mean_commits ? number_with_delimiter(@repository.past_year_mean_commits.round(3)) : 'N/A' %><br>
            Development Distribution Score (<a href='https://report.opensustain.tech/chapters/development-distribution-score.html' target="_blank">DDS</a>) in the past year: <%= @repository.past_year_dds ? @repository.past_year_dds.round(3) : 'N/A' %>
          </div>
        <% end %>
      </div>
      <p>
        More repo stats: <%= link_to @repository.repos_url, @repository.repos_url, target: :_blank %><br>
        View commits: <%= link_to "View all commits", host_repository_commits_path(@host, @repository) %><br>
        JSON API: <%= link_to api_v1_host_repository_url(@host, @repository), api_v1_host_repository_url(@host, @repository), target: :_blank %>
      </p>
      
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="all-tab" data-bs-toggle="tab" data-bs-target="#all-tab-pane" type="button" role="tab" aria-controls="all-tab-pane" aria-selected="true">All committers</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="past-year-tab" data-bs-toggle="tab" data-bs-target="#past-year-tab-pane" type="button" role="tab" aria-controls="past-year-tab-pane" aria-selected="false">Committers in the past year</button>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane show active" id="all-tab-pane" role="tabpanel" aria-labelledby="all-tab" tabindex="0">
          <table class='table'>
            <thead>
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Commits</th>
              </tr>
            </thead>
            <tbody>
              <% @committers.each do |committer| %>
                <tr>
                  <td>
                    <%= link_to_unless committer['login'].blank?, committer['name'], @repository.committer_url(committer['login']) %>
                    <% if bot?(committer) %>
                      <span title='bot'>🤖</span>
                    <% end %>
                  </td>
                  <td><%= obfusticate_email(committer['email']) %></td>
                  <td><%= committer['count'] %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
          <p>
            <small class='text-muted'>
              <i>
                Excludes empty and merge commits.
              </i>
            </small>
          </p>
        </div>
        <div class="tab-pane" id="past-year-tab-pane" role="tabpanel" aria-labelledby="past-year-tab" tabindex="0">
          <% if @repository.past_year_committers && @repository.past_year_committers.any? %>
            <table class='table'>
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Commits</th>
                </tr>
              </thead>
              <tbody>
                <% @past_year_committers.each do |committer| %>
                  <tr>
                    <td>
                      <%= link_to_unless committer['login'].blank?, committer['name'], @repository.committer_url(committer['login']) %>
                      <% if bot?(committer) %>
                        <span title='bot'>🤖</span>
                      <% end %>
                    </td>
                    <td><%= obfusticate_email(committer['email']) %></td>
                    <td><%= committer['count'] %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <p>
              <small class='text-muted'>
                <i>
                  Committers in the past year are calculated by looking at the last 365 days of commits. Excludes empty and merge commits.
                </i>
              </small>
            </p>
          <% elsif @repository.past_year_committers %>
            <p class="mt-2 text-muted"><i><small>
                This repository has not had any commits in the past year. Excludes empty and merge commits.
              </small></i></p>
          <% else %>
            <p class="mt-2 text-muted"><i><small>
              This repository has not had the past years commits calculated yet. This may take a few minutes.
            </small></i></p>
          <% end %>
        </div>
      </div>
      
    <% end %>
  <% else %>
    <p class="card-subtitle mb-2 text-muted"><i><small>
        This repository has not been synced yet.
        <meta http-equiv=refresh content="3; url=<%= request.url %>">
    </small></i></p>
  <% end %>

  

</div>