<% @meta_title = "#{@repository.full_name} committers | #{@host}" %>

<div class="container-sm">
  <h1>
    <%= link_to @host, host_path(@host) %> /
      
    <%= link_to @repository.full_name, @repository.html_url, target: :_blank %> committers
  </h1>

  <% if @repository.last_synced_at %>
    <p class="card-subtitle mb-2 text-muted"><i><small>
        Last synced: <%= distance_of_time_in_words_to_now @repository.last_synced_at %> ago
    </small></i></p>
    <% if @repository.total_commits %>
      <p>
        Total Commits: <%= number_with_delimiter @repository.total_commits %><br>
        Total Committers: <%= number_with_delimiter @repository.total_committers %><br>
        Avg Commits per committer: <%= number_with_delimiter @repository.mean_commits.round(3) %><br>
        Development Distribution Score (<a href='https://report.opensustain.tech/chapters/development-distribution-score.html' target="_blank">DDS</a>): <%= @repository.dds.round(3) %><br/>
        More repo stats: <%= link_to @repository.repos_url, @repository.repos_url, target: :_blank %><br>
        JSON API: <%= link_to api_v1_host_repository_url(@host, @repository), api_v1_host_repository_url(@host, @repository), target: :_blank %>
      </p>
    
    <table class='table'>
      <thead>
        <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Commits</th>
        </tr>
      </thead>
      <tbody>
        <% @repository.committers.each do |committer| %>
          <tr>
            <td><%= committer['name'] %></td>
            <td><%= obfusticate_email(committer['email']) %></td>
            <td><%= committer['count'] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <% end %>
  <% else %>
    <p class="card-subtitle mb-2 text-muted"><i><small>
        This repository has not been synced yet.

        <% if @job && @job.in_progress? %>
          <meta http-equiv=refresh content="3; url=<%= request.url %>">
        <% end %>
    </small></i></p>
  <% end %>

</div>