<% @meta_title = @host.to_s %>
<% @meta_description = "List of committers on #{@host.to_s} that have had their commit history parsed" %>

<div class="container-sm">
  <h1 class='mb-4'>
    <%= link_to @host, @host.url, target: :_blank %> Repositories
  </h1>

  <ul class="nav nav-tabs my-3">
    <li class="nav-item">
      <a class="nav-link" aria-current="page">
        Repositories
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @host.repositories_count %>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="<%= host_owners_path(@host) %>" aria-current="page">
        Owners
                <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @host.owners_count %>
        </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" href="<%= host_committers_path(@host) %>">
        Committers
        <span class="badge bg-secondary rounded-pill">
          <%= number_with_delimiter @host.committers.count %>
        </span>
      </a>
    </li>
    <%= render 'sort' %>
  </ul>

  <%= render @committers %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>