<% @meta_title = "#{@committer} | #{@host}" %>
<% @meta_description = "List of repositories on #{@host} that have had commits by #{@committer} parsed" %>

<div class="container-sm">
  <h1>
    <%= link_to @host, host_path(@host) %> /
    <% if @committer.login.present? %>
      <%= link_to @committer, @committer.html_url, target: :_blank %>
    <% else %>
      <%= @committer %>
    <% end %>
  </h1>

  <% if @committer.commits_count > 0 %>
  <p>
    Total Commits: <%= number_with_delimiter @committer.commits_count %><br/>
  </p>
  <% end %>

  
  <% if @repositories %>
    <%= render @repositories %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
  <% else %>
    <p>No repositories found</p>
  <% end %>
</div>