<div class="card mb-3 host d-flex" id="host_<%= host.id %>">
  <div class="card-body pb-1">
    <div class="d-flex">
      
      <div class="flex-grow-1 ms-3 text-break">
        <h5 class='card-title'>
          <% if host.repositories_count.zero? %>
            <%= host.name %>
          <% else %>
            <%= link_to host.name, host_path(host.name) %>
          <% end %>
          <% if host.display_kind? %>
            <i><small class="text-muted"><%= host.kind %></small></i>
          <% end %>
        </h5>
      
        <p class="card-subtitle mb-2 text-muted">
          <%= number_with_delimiter host.repositories_count %> repositories<br>
          <%= number_with_delimiter host.commits_count %> commits<br>
        </p>
      </div>
      <div class="flex-shrink-0">
        
      </div>  
    </div>
  </div>
</div>